@value colors: './colors.css';
@value normal, primary, alt from colors;
@value small as bp-small from './media.css';

.box {
  composes: thin from './borders.css';
  composes: solid from './borders.css';
  composes: rounded from './borders.css';
  padding: 1.5rem;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.component {
  composes: vertical from './layout.css';
  composes: box;
}

.title {
  color: primary;
  margin-top: 0;
}

@media bp-small {
  .title {
    color: alt;
  }
}

.button {
  composes: flexnone from './layout.css';
}

.counter {
  composes: box;
  background: normal;
  padding: 20px;
}
